/* aside begin */

* {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;  
}

.all {
    width: 70%;
    position: relative;
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 76px 10px rgba(158,155,158,1);
    -moz-box-shadow: 0px 0px 76px 10px rgba(158,155,158,1);
    box-shadow: 0px 0px 76px 10px rgba(158,155,158,1);
}


aside {
    width: 33.3%;
    background-color: #2f3a40;
    color: #dfdddd;
    left: 0;
    float: left;
    height: 1650px;
}

.ava img{
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
  }

img {
    max-width: 200px;
}

h2 {
    text-transform: uppercase;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.2em;
}
    
.pink_bg, .green_bg, .blue_bg, .orange_bg, .purple_bg {
    position: relative; 
}

.pink_bg  {
    background-color: #fe7676;
} 

.pink_bg > h2 {
    margin-top: 0;
}

.green_bg {
    background-color: #adc646;
}

.blue_bg {
    background-color: #7fa4b7;
}

.orange_bg {
    background-color: #f7941d;
}

.purple_bg {
    background-color: #d48cd9;
}

.pink_bg::after, .green_bg::after, .blue_bg::after, .orange_bg::after, .purple_bg::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent; 
}

.pink_bg::after {
    border-top: 10px solid  #fe7676;
}

.green_bg::after {
    border-top: 10px solid  #adc646;
}

.blue_bg::after {
    border-top: 10px solid  #7fa4b7;
}

.orange_bg::after {
    border-top: 10px solid  #f7941d;
}

.purple_bg::after {
    border-top: 10px solid  #d48cd9;
}

[class*='col-'] {
    float: left;
  }

.col-1-3 {
    width: 15%;
}

.col-2-3 > p {
    margin-top: 8px;
    margin-bottom: 0;
}

.col-2-3 {
    width: 85%;
    text-align: left;
}

.contact_content:after {
    content: "";
    display: table;
    clear: both;
}

.contact_content {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.education >article {
    padding-left: 5%;
}

.graduation_year {
    padding-top: 1%;
}

.graduation_year::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    color: #db8bf8;
}

.graduation_year p:first-child {
    border-radius: 0 25px 25px 0;
    border-right: 2px solid #db8bf8;
    width: 12%;
    background-color: #db8bf8;
    padding-left: 5px;
}

.year {
    text-align: center;
}

.level {
    margin-top: 20px;
    margin-bottom: 20px;
}

.GB_flag, .IS_flag, .DE_flag {
    width: 5%;
    position: absolute; 
    left: 0;
}

.level {
    margin-left: 15%;
    width: 85%;
}

#eng::after {
    content: ', свободно';
    text-transform: none;
}

#esp::after, #deu::after {
    content: ', базовый';
    text-transform: none;
}

#eng::after, #esp::after, #deu::after {   
    font-size: 0.5 em;
    font-style: italic;
}

#GB, #IS, #DE {
    display: block;
    margin: 0 auto; 
    width: 30px;
}

.recommendations > p {
    padding-left: 5%;
}

ul.hobby_icon {
    text-align: justify;
    padding: 1% 3% 1% 3%;
}
 
ul.hobby_icon li {
    display: inline-block;
    position: relative;
    color: white;
}
 
ul.hobby_icon:before{
    content: '';
    display: block;
}
 
ul.hobby_icon:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
/* aside end */


/* main begin */

main {
    /* position: absolute; */
    width: 66.7%;
    float: left;
    height: 1650px;

}

main > section {
    padding-left: 30px;
    padding-right: 30px;
}

 li, article > p {
    color: #767575;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 6%;
    margin: 0;
    margin-bottom: 5px;
}


#profession::after {
    content: ", 40 000 руб.";
    font-weight: normal;
    text-transform: none;
}

.h2_main {
    color: #393939;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

h3 {
    color: #575757;
    text-transform: uppercase;
}

.graduation_year>h3, .level > h3 {
    color: white;
}

h4 {
    color: #575757;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}

.duration {
    color: #ff6968;
    font-weight: normal;
}

ul {
    padding-left: 15px;
    margin: 0;
}

.name > p {
    margin: 5px 0px;
}

.list li {
    display: inline-block;
    width: 30%;
    color: #393939;
  }

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list li a {
    text-decoration: none;
    color: #393939;
    font-size: 1em;
}

.fam {
    margin-top: 0;
}
/* main end */

/* media begin */
@media  screen and (max-width: 1400px) {
    .graduation_year p:first-child {
        width: 25%;
    }

    a, li, p, h2, h3, h4, .col-2-3>p, .graduation_year>p, .recommendations>p {
        font-size: 0.7em;
    }

    .h2_main {
        font-size: 0.8em;
    }

    .duration {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    main, aside {
        height: 1230px;
    }
}

@media  screen and (max-width: 1150px) {
    .col-1-3 {
        display: none;
    }

    .col-2-3 {
        width: 100%;
    }
}

@media  screen and (max-width: 1000px) {
    .GB_flag, .DE_flag, .IS_flag {
        display: none;
    }
    .level {
        margin-left: 5%;
    }
    a, li, p, h2, .h2_main, h3, h4, .col-2-3>p, .graduation_year>p, .recommendations>p {
        font-size: 0.5em;
    }

    .duration {
        font-size: 1em;
    }

    h1 {
        font-size: 1em;
    }

    main, aside {
        height: 930px;
    }
}

@media  screen and (max-width: 770px) {
    .graduation_year p:first-child {
        width: 55%;
    }

    .col-1-3 {
        display: none;
    }
    .list li {
        display: block;
      }

    main, aside {
        height: 940px;
    }
}

@media  screen and (max-width: 570px) {
    main, aside {
        height: 1100px;
    }
}

@media  screen and (max-width: 465px) {
    aside {
        width: 45%;
    }
    main {
        width: 55%;
    }
    h1 {
        font-size: 0.5em;
    }

    main, aside {
        height: 1350px;
    }
}

/* media end */